*
{
	margin:0;
	padding:0;
}
body
{
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000;
	background: #fcf9ea url(../images/2013-background.gif) no-repeat;
	background-position:top;
}
a img
{
	border:0 none;
}
a 
{
	color:#74009B;
	text-decoration:none;
}
#page_wrapper
{
	width:1000px;
	margin: 0 auto;
}
#inside_page_wrapper
{
	position:absolute; z-index:2;
}
#page_wrapper_outside
{
	width:1000px;
	margin: 0 auto;
	padding-top:7px;
	
}
#header_container
{
	margin:0 auto;
	width:1000px;
	height:186px;
	
}
#header_left
{
	float:left;
	width:694px;
	height:186px;
}
#top_left_empty
{
	width:694px;
	height:25px;
}
#header_cube
{
	float:left;
	width:306px;
	height:186px;
}
#nav_container
{
	height:37px;
	margin:auto;
	width:1000px;
	background:#fcf9ea;
	margin-top:5px;
	margin-bottom:5px;
}
#page_content_outside
{
	margin:0 auto;
	width:970px;
	background:#fcf9ea;
	padding:15px;
}
#page_content
{
	width:970px;	
	font-family:Helvetica, Arial, sans-serif;
}
#under_construction
{
	float:left;
	width:724px;
	height:26px;
	background:#ff00ff;
	font-size:15px;
	font-style:oblique;
	color:#fff;
	line-height:26px;
	text-align:center;
}
#under_construction2
{
	float:left;
	width:724px;
	height:26px;
	background:none;
	font-size:15px;
	font-style:oblique;
	line-height:26px;
}
#search_label
{
	background: #74009b;
	color: #96beff;
	width: 123px;
	text-align: center;
	font-family: helvetica;
	font-style:normal;
	font-weight: 700;
	float: left;
	margin-right: 3px;
}
#input_search
{
	width: 156px;
	border: none;
	background:#96beff;
	color: #fff;
	font-family: helvetica;
	font-style:normal;
	font-weight: 200;
	float: left;
	margin-right: 3px;
	padding: 4.5px;
	height: 17px;
	
}
#search_button
{
	background: #74009b;
	color: #96beff;
	width: 60px;
	text-align: center;
	font-family: helvetica;
	font-style:normal;
	font-weight: 700;
	float: left;
	margin-right: 15px;
}
#today_acc
{
	width: 231px;
	height: 50px;
	text-align: center;
	background: #74009b;
	line-height: 50px;
	color: #fff;
	font-family: helvetica;
	font-weight: 700;
	font-size: 18px;
}
#today_acc_item
{
	width: 231px;
}
.acc_item
{
	background:#96beff;
	color: #74009b;
	width: 76px;
	height: 56px;
	text-align: center;
	font-family: helvetica;
	font-size: 18px;
	float:left;
}
#quick_search
{
	width: 231px;
	color: #74009b;
	font-family: helvetica;
}
.quick_search_a:hover
{
	color: #96beff;
}
.all_band:hover div .org_hover
{
	opacity:0.5;
}
#social_icons
{
	float:left;
	width:231px;
	height:26px;
	margin-left:15px;
}
#banner_container
{
	height:351px!important; z-index:1;
	margin-top:15px;
	margin-bottom:15px;
}
#featuring
{
	float:left;
	width:355px;
}
#youtube
{
	float:left;
	width:355px;
	margin-left:14px;
}
#home_right
{
	float:left;
	margin-left:14px;
	width:232px;
}
#twitter_feed_container
{
	margin-top:15px;
	min-height:354px;
}
.clearboth
{
	clear:both;
}
#footer
{
	margin:auto;
	width:970px;
	min-height:150px;
}
ul#navmenu-h {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    z-index: 10;
	text-transform:uppercase;
}
ul#navmenu-h ul 
{   
    display: none;
    left: 0;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 180px;
    z-index: 10;
}
ul#navmenu-h ul ul, ul#navmenu-h ul ul ul {
    left: -116%;
    top: 0;
    z-index: 13;
}
ul#navmenu-h li#menu1
{
	padding-right: 0px;
	width:60px;
	text-align:left;
	padding-left:8px;
}
ul#navmenu-h li#menu2
{
	padding-right: 0px;
	width:124px;
	text-align:left;
	padding-left:8px;
	margin-left:40px;
}
ul#navmenu-h li#menu3
{
	padding-right: 0px;
	width:160px;
	text-align:left;
	padding-left:8px;
	margin-left:20px;
}
ul#navmenu-h li#menu4
{
	padding-right: 0px;
	width:212px;
	text-align:left;
	padding-left:8px;
	margin-left:20px;
}
ul#navmenu-h li#menu4 ul.child_menu li
{
	width:232px;
}
ul#navmenu-h li#menu5
{
	padding-right: 0px;
	width:110px;
	text-align:left;
	padding-left:8px;
	margin-left:28px;
}
ul#navmenu-h li#menu6
{
	padding-right: 0px;
	width:142px;
	text-align:left;
	padding-left:8px;
	margin-left:10px;
}
ul#navmenu-h li {
    display: inline;
    float: left;
    position: relative;
    z-index: 11;
	font-weight:bold;
}

ul#navmenu-h ul li {
    display: block;
    height: 28px;
    width: 180px;
	background: #74009b;
	padding-left:8px;
}
ul#navmenu-h ul li ul li{
    display: block;
    height: 28px;
    width: 210px;
	background: #984ded;
	padding-left:9px;
}
ul#navmenu-h ul li:hover {
	background:#320064;
}
ul#navmenu-h li ul li a
{
	color:#fff;
	font-size:14px;
	font-weight:300;
	
}
ul#navmenu-h ul li.last {
    margin: 0;
}
ul#navmenu-h a {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    height: 1%;
    line-height: 37px;
    text-decoration: none;
    z-index: 12;
	color:#74009b;
	font-size:14px;
	font-weight:bold;
}
ul#navmenu-h li:hover, ul#navmenu-h li.iehover {
   background: #74009b;
}
ul#navmenu-h a:hover, ul#navmenu-h li:hover a, ul#navmenu-h li.iehover a {
	color:#fff;
}
ul#navmenu-h li:hover li a, ul#navmenu-h li.iehover li a {
    color: #fff;
    float: none;
    line-height: 28px;
    margin: 0;
    z-index: 13;
}
ul#navmenu-h li:hover li a:hover, ul#navmenu-h li:hover li:hover a, ul#navmenu-h li.iehover li a:hover, ul#navmenu-h li.iehover li.iehover a {
}
ul#navmenu-h li:hover li:hover li a, ul#navmenu-h li.iehover li.iehover li a {
}
ul#navmenu-h li:hover li:hover li a:hover, ul#navmenu-h li:hover li:hover li:hover a, ul#navmenu-h li.iehover li.iehover li a:hover, ul#navmenu-h li.iehover li.iehover li.iehover a {
}
ul#navmenu-h li:hover ul ul, ul#navmenu-h li:hover ul ul ul, ul#navmenu-h li.iehover ul ul, ul#navmenu-h li.iehover ul ul ul {
    display: none;
}
ul#navmenu-h li:hover ul, ul#navmenu-h ul li:hover ul, ul#navmenu-h ul ul li:hover ul, ul#navmenu-h li.iehover ul, ul#navmenu-h ul li.iehover ul, ul#navmenu-h ul ul li.iehover ul {
    display: block;
}

#header_subscribe
{
	background: none repeat scroll 0 0 #747474;
    color: #00E9C9;
    font-size: 26px;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 240px;
}
.child_menu
{
	text-align:left !important;
}
.child_menu_item
{
	text-align:left !important;
}

#calling_button
{
	margin-left:20px;
	margin-top:20px;
	float:left;
	color:#fff;
}

#event_button
{
	width:240px;
	height:75px;
	background:#ffaf3b;
	line-height:20px;
	text-align:center;
	font-size:17px;
	float:left;
	margin-right:20px;
}
#event_button:hover
{
	background:#00e9c9;
	cursor:pointer;
}
#musicians_button
{
	width:420px;
	height:75px;
	background:#8b71c9;
	line-height:75px;
	text-align:center;
	font-size:30px;
	float:left;
	margin-right:20px;
}
#musicians_button:hover
{
	background:#00e9c9;
	cursor:pointer;
}
#kids_button
{
	width:240px;
	height:75px;
	background:#ff6a55;
	line-height:20px;
	text-align:center;
	font-size:17px;
	float:left;
}
#kids_button:hover
{
	background:#00e9c9;
	cursor:pointer;
}
#port_philip_sponsor
{
	float:left;
	width:180px;
}
#goverment_sponsor
{
	float:left;
}
#advertisment
{
	float:right;
	width:240px;
	height:140px;
	/*border:1px solid;*/
}
#wrapper_footer
{
	background:#fcfaea;
	padding-bottom:20px;
	font-size:10px;
	color:#74009B;
	
	margin-top:15px;
}

#form_header
{
	color:#646464;
	font-size:24px;
	font-weight:bold;
	
	text-transform:uppercase;
	margin-top:10px;
	color:#00e9c9;
}

#form_sub_header
{
	color:#646464;
	font-size:18px;
	font-weight:bold;
	
	/*text-transform:uppercase;*/
	margin-top:20px;
	margin-bottom:20px;
}

#form_wrapper
{
	width:600px;
	margin-left:20px;
}

.form_label
{
	color:#646464;
	font-size:12px;
	
	width:200px;
}
.form_input
{
	color:#fff;
	font-size:15px;
	width:300px;
	border:0 none;
	background:#96beff;
	height:26px;
	padding-left:5px;
}

.form_label_checkbox
{
	color:#646464;
	font-size:12px;
	margin-left:5px;
}
.form_checkbox
{
	color:#646464;
	font-size:12px;
	border:1px solid #646464;
}
.form_textarea
{
	color:#646464;
	font-size:12px;
	border:1px solid #646464;
	width:280px;
	height:150px;
	padding:10px;
}
.form_button
{
	font-size:15px;
	border:0 none;
	font-family:Helvetica,Arial, sans-serif;
	background:url(../images/button_bg.png) repeat;
	color:#96beff;
}

#page_template_content
{
	margin-top:10px;
	width:940px;
	margin-left:20px;
	float:left;
}
#text_content
{
	width:600px;
	float:left;
	margin-right:100px;
}
#pic_content
{
	float:left;
	width:240px;
}
#top_pic
{
	width:240px;
	height:188px;
	margin-bottom:20px;
	background:#b1b1b1;
}
#bottom_pic
{
	width:240px;
	height:310px;
	background:#b1b1b1;
}

.button_div
{
	background: none repeat scroll 0 0 #00E9C9;
    color: #646464;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 120px;
}

.button_div:hover
{
	cursor:pointer;
}

#home_link
{
    float: left;
    height: 170px;
    margin-left: 110px;
    margin-top: -55px;
    width: 240px;
}

#home_link:hover
{
	cursor:pointer;
}
.gap
{
	clear:both;
	height:15px;
}
#left_footer
{
	float:left;
	width:724px;
}
#right_footer
{
	float:right;
	width:232px;
	height:77px;
	padding-top:15px;
	border-top:1px solid #74009b;
	border-bottom:1px solid #74009b;
	color:#74009b;
	line-height:20px;
}
#right_footer a
{
	color: #74009B;
}
#footer_credits
{
	margin-top:15px;
	font-size:10px;
}
#left_content
{
	float:left;
	width:724px;
	min-height:631px;
	height:auto!important;
	
}
#content_wrapper
{
	margin-top:15px;
	clear:both;
	padding-bottom:15px;
}
#right_content
{
	float:right;
	width:232px;
}
#countdown
{
	color:#74009B; font-size:14px; font-weight:bold; border-top:1px solid #8f32ab;
	height:31px;
	padding-top:14px;
	padding-bottom:14px;
}
#countdown_text
{
font-size:14px; font-weight:lighter;
margin-top:3px;
}
#subscribe
{
	border-top: 1px solid #8F32AB;
	padding-top:14px;
}
#subscribe_header
{
	font-size:18px;
	font-weight:18px;
	color: #74009B;
}
#subscribe_text
{
	color: #74009B;
	margin-top:5px;
}
#enter_email
{
	margin-top:10px;
}
#email_input
{
	float:left;
	width:173px;height:26px;
}
#email_submit
{
	float:right;
	width:57px;
}
#traders_apply
{
	margin-top:14px;
	border-top: 1px solid #8F32AB;
	padding-top:14px;
}
.gallery-thumb {
    float: left;
    margin: 0 14px 14px 0;
    width: 108px;
}
#adspace
{
	margin-top:20px;
	width:355px;
}
#twitter_footer_replace
{
	color: #ff6e91;margin-top:2px;border-top: 1px solid #ff6e91;text-align:center;font-weight:bold;font-size:11px;background:#fff;padding-top:14px;padding-bottom:10px
}
#band_large_image
{
	width:724px;
	height:351px;
}
#band_container
{
	margin-top:15px;
}
#left_band_container
{
	float:left;
	width:355px;
}
#right_band_container
{
	float:right;
	width:355px;
}
.extra_details
{
	color:#74009b;font-family:Helvetica, Arial, sans-serif;
	margin-top:10px;
	font-size:14px;
}
#band_social
{
	margin-top:10px;
	clear:both;
}
#soundcloud_icon
{
	float:left;
	width:43px;
	margin-left:20px;
	margin-top:5px;
}
#other_icon
{
	float:left;
	width:28px;
	margin-left:20px;
}
#facebook_icon
{
	float:left;
	width:14px;
}
#twitter_icon
{
	float:left;
	width:28px;
	margin-left:20px;
}
#youtube_icon
{
	float:left;
	width:28px;
	margin-left:20px;
}
#myspace_icon
{
	float:left;
	width:28px;
	margin-left:20px;
}
#home_band_image
{
	width:355px;
	height:227px;
}
#home_band_image img
{
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
#email_subscribe
{
	background:#96beff;
	border:0;
	height:26px;
	width:168px;
	color:#fff;
	font-size:15px;
	padding-left:5px;
}
.page_band
{
	float:left;
	width:231px;
	margin-right:15px;
}
#band-wrapper {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 724px;
	margin-top:15px;
}
#band-wrapper ul {
    overflow: hidden;
}
#band-wrapper li {
    float: left;
    height: 55px;
    list-style: none outside none;
    margin: 0 6px 6px 0;
    position: relative;
    width: 84px;
}
#band-wrapper ul.hidden {
    display: none;
}
#band-container
{
	margin-top:15px;
}
#filter
{
	margin-top:15px;
	background:#96beff;
	height:24px;
	width:716px;
}
#filter a {
    color: #74009b;
    display: inline-block;
    line-height: 26px;
    padding: 0 6px;
    text-decoration: none;
	font-size:13px;
	font-weight:lighter;
	height:24px;
}
#filter a.active {
    color: #fff;
	background:#74009b;
}