.black-box-today{
	background-color:#64D8C4;
	height:50px;			
	color:#ffffff;
	margin-top:15px;
	width:100%;
	font-family:'Lato', sans-serif;
}
.font-day{
	color:#ffffff;
	font-size:12px;
	font-weight:700;
	line-height:14px;
	font-family:'Lato', sans-serif;
}
.font-date{
	color:#ffffff;
	font-size:12px;
	font-weight:400;
	line-height:14px;
	font-family:'Lato', sans-serif;
}
.box-today{
	float:left;
	text-align:center;
	width:33%;
	padding-top:12px;
	padding-bottom:12px;
	font-family:'Lato', sans-serif;
}
.page-hr
{
	margin-top:30px;
	margin-bottom:30px;
	background:#f18800;
	border:1px solid #f18800;
}
.right-list{
	color:#f18800;
	font-size:12px;
	font-weight:lighter;
	line-height:14px;
	font-family:'Lato', sans-serif;
}
.right-list .program-bold{
	color:#f18800;
	font-size:12px;
	font-weight:600;
	line-height:14px;
	font-family:'Lato', sans-serif;
}
.right-subscribe{
	background:#fff6dc;   
	border:none!important;
	 color:#f18700;
	border-radius:0px !important;
	margin-bottom:0px!important;
	float:left;
	font-weight:600;
	font-family:'Lato', sans-serif;
	width: 206px;
}
.today{
	font-family:'Lato', sans-serif;
	font-weight:600;
	font-size:12px;
	color:#64D8C4;
}

.program-bold{
	color:#231F20;
	font-size:12px;
	font-weight:600;
	line-height:14px;
	font-family:'Lato', sans-serif;
}



.social-logo{
	color:#000;
	font-size:25px;
}


.footer-hr
{
	margin-top:20px;
	margin-bottom:20px;
	background:#000;
	border:1px solid #f18800;
}

.footer_text_sponsor{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#f18800;
	font-weight:600;
	text-align:center;
}
.footer_text{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	line-height:26px;
	color:#231F20;
	font-weight:300;
}
.footer_text_design{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#f18800;
	font-weight:500;
	text-align:center;
	
}
.footer_text_left{
	text-align:left;
}
.footer_text_center{
	text-align:center;
}
.footer_text_right{
	text-align:right;
}
@media (min-width: 768px) and (max-width: 979px) {
	
	.right-list{
		
		font-size:9px;
		font-weight:lighter;
		line-height:14px;
		font-family:'Lato', sans-serif;
		}
	.right-list .program-bold{
		
		font-size:9px;
		font-weight:600;
		line-height:14px;
		font-family:'Lato', sans-serif;
	}
	.right-subscribe{
		
		border:none!important;
		color:#fff!important;
		border-radius:0px !important;
		margin-bottom:0px!important;
		float:left;
		font-weight:600;
		font-family:'Lato', sans-serif;
		width: 95px;
		font-size:9px!important;
	}
	
	
	
		
	
	.footer_text_left{
		text-align:left;
	}
	.footer_text_center{
		text-align:center;
	}
	.footer_text_right{
		text-align:right;
	}
	.footer_text{
		font-size:11px;
	}
}
@media (max-width: 767px) {
	
	.right-list{
		
		font-size:12px;
		font-weight:lighter;
		line-height:14px;
		font-family:'Lato', sans-serif;
	}
	.right-list .program-bold{
		
		font-size:12px;
		font-weight:600;
		line-height:14px;
		font-family:'Lato', sans-serif;
	}
	.right-subscribe{
		
		border:none!important;
		color:#fff!important;
		border-radius:0px !important;
		margin-bottom:0px!important;
		float:left;
		font-weight:600;
		font-family:'Lato', sans-serif;
		width: 155px;
	}
		
	
	
	.footer_text_left{
		text-align:left;
	}
	.footer_text_center{
		text-align:left;
	}
	.footer_text_right{
		text-align:left;
	}
	
	
	
}
@media (min-width:1200px)
{
	
}

@media (max-width: 1200px) and (min-width: 980px){
	.right-list{
		
		font-size:12px;
		font-weight:lighter;
		line-height:14px;
		font-family:'Lato', sans-serif;
		}
	.right-list .program-bold{
		
		font-size:12px;
		font-weight:600;
		line-height:14px;
		font-family:'Lato', sans-serif;
	}
	.right-subscribe{
		
		border:none!important;
		color:#fff!important;
		border-radius:0px !important;
		margin-bottom:0px!important;
		float:left;
		font-weight:600;
		font-family:'Lato', sans-serif;
		width: 155px;
	}
}


@media (max-width: 480px) {
	.right-list{
		
		font-size:12px;
		font-weight:lighter;
		line-height:14px;
		font-family:'Lato', sans-serif;
		}
	.right-list .program-bold{
		
		font-size:12px;
		font-weight:600;
		line-height:14px;
		font-family:'Lato', sans-serif;
	}
	.right-subscribe{
		
		border:none!important;
		color:#fff!important;
		border-radius:0px !important;
		margin-bottom:0px!important;
		float:left;
		font-weight:600;
		font-family:'Lato', sans-serif;
		width: 145px;
		font-size:11px!important;
	}
	
	
	
	
	.footer_text_left{
		text-align:left;
	}
	.footer_text_center{
		text-align:left;
	}
	.footer_text_right{
		text-align:left;
	}
}