<div class="row-fluid page-content">
<div class="span6">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
     <tbody>
         <tr>
             <td><img src="/2013/uploads/NeedtoKnow-General-354x255-1.JPG" alt="" border="0" height="225" width="354" /></td>
         </tr>
         <tr height="15">
             <td>&nbsp;</td>
         </tr>
         <tr height="225">
             <td>
             <p class="heading_content_page">Plan first, party better<br />
             </p>
             <br />
             <span class="text_content_page">St Kilda Festival is a celebration of community spirit, Australian music and the beautiful St Kilda Foreshore.<br />
             <br />
             It’s a day of fun in the sun, thrills on the beach and awesome sounds after dark. Just remember to come prepared and treat the ‘hood with utmost respect.<br />
             <br />
             Bring a hat and sunscreen to stave off sunburn, comfortable shoes to get around the Festival site and a copy of the Festival program or Mobile App to help you plan your day. <br />
             <br />
             Here are some things you need to know before you land...</span><br />
             <br />
             <br />
             </td>
         </tr>
     </tbody>
</table>
</div>
<div class="span6">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
     <tbody>
         <tr>
             <td><img src="/2013/uploads/NeedtoKnow-General-354x255-2.JPG" alt="" border="0" height="225" width="354" /></td>
         </tr>
         <tr height="15">
             <td>&nbsp;</td>
         </tr>
         <tr height="225">
             <td><span class="subheading_content_page">ALCOHOL</span><br />
             <span class="text_content_page">The St Kilda Festival precinct is a dry zone. On Festival Sunday alcohol consumption is only permitted within designated licensed areas.</span><br />
             <br />
             <span class="subheading_content_page">ROAD CLOSURES</span><br />
             <span class="text_content_page">This Festival is a car free zone. Trams, trains, buses, cycling or walking are the best options to get to the Festival. <br />
             <br />
             Most of St Kilda will be affected by road closures on Festival Sunday. The Esplanade, Lower Esplanade, Cavell Street and much of Fitzroy, Acland and Carlisle Streets will be completely closed to through traffic. Catch public transport - you’ll thank yourself and so will the environment.</span><br />
             <br />
             <span class="subheading_content_page">KEEP IT CLEAN AND GREEN</span><br />
             <span class="text_content_page">As above - travel responsibly. Recycle. Recycle. Recycle. Help keep St Kilda clean by putting your rubbish into one of the many recycle bins around the site on Festival Sunday. Easy.</span><br />
             <br />
             <span class="subheading_content_page">NO CUTS, NO BUTTS!</span><br />
             <span class="text_content_page">Remember that smoking and glass are not allowed on the sand at Port Phillip beaches.</span><br />
             <br />
             <span class="subheading_content_page">KEEP IN TOUCH</span><br />
             <span class="text_content_page">Sign up to the mailing list, follow us on Twitter and like us on Facebook for all the latest Festival news. </span><br />
             <br />
             <span class="subheading_content_page">FIND OUT MORE</span><br />
             <span class="text_content_page">For general information at the event, lost children or belongings, go to one of our Festival information booths.</span><br />
             <br />
             <span class="subheading2_content_page">On Festival Sunday, you can also call the St Kilda Festival HOTLINE on 9209 6306.</span><br />
             </td>
         </tr>
     </tbody>
</table>
</div>
</div>
<p><br />
</p>
<p>&nbsp;</p>